body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
 
}

.header {
  background-image: url(images/pexels-picjumbocom-196659\ \(1\).jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: overlay;
}

.logo {
  font-family: 'Major Mono Display', monospace;
}

.logo h1 {
  margin: 0;
  padding: 25px;
  color: #fff;
}

.hero-text p {
  text-align: center;
  font-size: 25px;
  margin-top: 35vh;
  color: #fff;
}  

.container {

}

.row {
  /* width: 1000px; */
  height: 100px;
  background-color: #ff0;
}

.box {
  height: 30px;
  background-color: red;
}

.h1 {
  text-align: center;
}